{
  "compact": false,
  "presets": ["@babel/preset-env", ["@babel/preset-react", { "runtime": "automatic"}]],
  "plugins": [
    ["module-resolver", {
      "alias": {
        "@web": "./Web/src",
        "@tokens": "./Tokens/build",
        "@components": "./Web/src/component",
        "@assets": "./Web/src/assets",
        "@navigation": "./Web/src/navigation",
        "@redux": "./Web/src/redux"
      }
    }]
  ]
}